<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>404</title>
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.0/dist/darkly/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/404.css">
    <link rel="stylesheet" href="/assets/font/berk/stylesheet.css">
</head>

<body>
    <header>
        <h1 class="title">Big Url</h1>
    </header>
    <div class="divErr">
        <h4 class="divTitle"><strong>Short URL not found!</strong></h4>
        <a href="/"><button class="backBtn btn btn-lg btn-primary" type="button">Go Back</button></a>
    </div>
    <footer>
        <p class="myFooter">Developed by Jacopo Scudieri -&nbsp;<a class="text-info" href="https://github.com/Jot4roKujo" target="_blank">Github</a></p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>